<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Vishwa Community!</h1>
    <h2>The total number of user : <%= count %></h2>
    <form method="get" action="/users/add">
        <button>join us</button>
    </form>
   
</body>
</html>